<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job scraper</title>
    <link href="{{ url_for('static', path='/get_all.css')}}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', path='/update_status.js')}}"></script>
</head>
<body>

    <form method="get" action="/">
        <input type="text" name="query" placeholder="Search...">
        <select name="sort_by">
          <option value="newest">Newest</option>
          <option value="oldest">Oldest</option>
        </select>
        <button type="submit">Apply Filters</button>
    </form>

  <div class="pagination">
    {% if offers.prev_page %}
      <a href="?page={{ offers.prev_page }}">Previous</a>
    {% else %}
      <a aria-current="page" href="?page={{ offers.prev_page }}">Previous</a>
    {% endif %}
    {% if offers.next_page %}
      <a href="?page={{ offers.next_page }}">Next</a>
    {% else %}
      <a aria-current="page" href="?page={{ offers.next_page }}">Next</a>
    {% endif %}
  </div>

  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Check</th>
        <th>Title</th>
        <th>Website</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody>
        {% for offer in offers.offers %}
        <tr>
        <td>
            <input type="checkbox" value="{{offer.check}}" data-id="{{offer.id}}" {% if offer.check %}checked{% endif %}/>
        </td>
          <td><a href="{{offer.url}}">{{ offer.title }}</a></td>
          <td>{{ offer.page }}</td>
          <td>{{ offer.created_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    {% if offers.prev_page %}
      <a href="?page={{ offers.prev_page }}">Previous</a>
    {% else %}
      <a aria-current="page" href="?page={{ offers.prev_page }}">Previous</a>
    {% endif %}
    {% if offers.next_page %}
      <a href="?page={{ offers.next_page }}">Next</a>
    {% else %}
      <a aria-current="page" href="?page={{ offers.next_page }}">Next</a>
    {% endif %}
  </div>

</body>
</html>